body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', 'Noto Sans Javanese', 'Noto Sans Syloti Nagri', 'Noto Sans Traditional Chinese';
}

header {
	display: flex;
	align-items: center;
	gap: 3rem;
	background-color: #008CBA;
}

#root {
	margin: auto;
	width: min(1024px, 80%);
}

#choice-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

button {
	background-color: white;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

#choice-box .button {
	transition-duration: 0.4s;
	border: 2px solid #4CAF50; /* Green */
}

#choice-box .button:hover,
#choice-box .button.answer {
	background-color: #4CAF50; /* Green */
	color: white;
}

#choice-box .button.error {
	border: 2px solid #f44336;	/* Red */
	background-color: #f44336;	/* Red */
	color: white;
}

#next-button {
	transition-duration: 0.4s;
	border: 2px solid #008CBA;	/* Green */
}

#next-button:hover {
	background-color: #008CBA; /* Green */
	color: white;
}

#lang-graph {
	width: 100%;
	height: 600px;
	border: 1px solid lightgray;
}